DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=chiseltime
DATABASE_PASS=
DATABASE_NAME=chiseltime
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=
PUBLIC_HOST=http://localhost:3000
UA_STRING="ChiselTime Local"

# Discord API
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_SCOPES="identify bot applications.commands"
DISCORD_BOT_TOKEN=

# Patreon API
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
