@use 'common';
@use 'vars';

.layout {
  @include common.layout();
}

.list {
  margin: 0;
}

.error, .info {
  text-align: center;
  font-size: 1.1rem;
}

.error {
  color: vars.$error;
}

.info {
  color: vars.$info;
}
